$picnic-grid-gutter: 30px;
$picnic-grid-sizes: 500 600 700 800;
// $picnic-grid-children: $picnic-grid-sizes;
$picnic-grid-off: 500;
$picnic-grid-count: one two three four;
$picnic-grid-part: full half third two-third fourth;
$picnic-grid-offpart: none;

@import 'node_modules/prismjs/themes/prism-okaidia';
@import 'node_modules/picnic/src/picnic';

// GLOBAL ELEMENTS

h1 {
  font-size: 1.5em;
  padding: 0;
  line-height: 1;

  @media (min-width: 500px) {
    font-size: 2em;
  }
}

h2 {
  padding: 20px 0 0;
}

h3 {
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  line-height: 1.4;
}

pre code {
  background: transparent;
  color: #fff;
}

pre,
pre[class*="language-"] {
  line-height: 1;
  background: #272822;
  margin: .8em -10px;
  border-radius: 0;
  padding: 10px;
}

@media (min-width: 500px) {
  pre,
  pre[class*="language-"] {
    margin: .8em 0;
    border-radius: .3em;
    padding: 1em;
  }
}

h1 + p, h2 + p, p {
  margin: .8em 0;
}

pre,
pre[class*="language-"] {
  border: none;
}

h1 + p,
h2 + p {
  margin: .4em 0 .9em;
}

p br {
  margin: 0 0 20px 0;

  @media (min-width: 800px) {
    display: none;
  }
}

span[data-tooltip] {
  border-bottom: 2px solid #eee;
  cursor: help;

  &::before,
  &::after {
    left: auto;
    right: 0;
  }

  &::before {
    right: 12px;
  }
}

.push-desktop {
  order: 10;

  @media (min-width: 600px) {
    order: 1;
  }
}

.views,
.stars {
  float: right;
  font-size: .8rem;
  border: 1px solid #ccc;
  padding: 2px 6px;
  margin: 4px 0 0 5px;
  border-radius: 3px;
}

.love {
  text-align: center;
  margin: 50px auto;
}

.meta {
  margin-top: 10px;
  color: #888;
}

.meta a {
  margin-right: 10px;
}

.meta .logo {
  width: 20px;
  vertical-align: text-top;
}

.banner {
  display: none;
}

.flex p {
  margin: 0;
}

comment-box h2 {
  margin: 0;
}

comment-box .add:first-child {
  margin-top: 0;
  border-radius: .2em;
}

comment-box .add:last-child {
  display: none;
}

comment-box .actual {
  overflow-x: auto;
}




// LINK RAINBOW
a {
  display: inline;
}

a:hover {
  cursor: pointer;
  animation: rainbow 1s linear infinite;
}

.block {
  display: block;
  width: 100%;
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}





// STRUCTURE

body {
  background: #faf linear-gradient(160deg, #faf, #88f);
  background-size: cover;
  background-attachment: fixed;
}

main,
article {
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  padding: 30px 10px;
  background: #fff;

  @media (min-width: 500px) {
    margin: 60px auto;
    padding: 40px 30px;
  }

  @media (min-width: 800px) {
    margin: 60px auto;
    padding: 60px;
  }
}

footer {
  margin-top: 100px;
}





// HEADER

header {
  @media (min-width: 800px) {
    margin: 20px 0;
  }

  .flex p {
    margin: 8px 0;
    font-size: 1.1em;
  }

  img {
    width: 100%;
    max-width: 120px;
    display: block;
  }

  .logo,
  .networks {
    order: 1;
    flex-grow: 0;
  }

  .button {
    margin: 0;
  }

  .button {
    &::before {
      display: inline-block;
      width: 15px;
      margin-right: 10px;
    }
    &.contact {
      &::before {
        content: "🙂";
      }
      &[disabled]::before {
        content: "🤔";
      }
      &:hover::before {
        content: "🤗";
      }
    }
    &.resume {
      &::before {
        content: "📜";
      }
    }
  }

  .flex {
    justify-content: space-between;
  }
}





// SOCIAL NETWORKS

.networks {
  @media (min-width: 800px) {
    width: 140px;
  }

  .logos {
    width: 140px;
    float: right;

    @media (min-width: 600px) {
      width: 100%;
      margin-right: 0;
    }

    @media (min-width: 800px) {
      margin-right: 20px;
    }
  }

  .flex {
    margin-bottom: -$picnic-grid-gutter;
  }

  img {
    width: 40px;
    display: block;
    margin: 0 auto;
    transition: all .3s ease;
  }

  a {
    display: block;
    transition: all .3s ease;

    &:hover img {
      filter: saturate(10);
    }
  }
}





// PRODUCTS

#products {
  margin-top: 20px;

  .product {
    position: relative;
    margin-bottom: 20px;

    a {
      position: relative;
    }

    h3 {
      line-height: 20px;
      font-size: .7em;
      text-transform: uppercase;
      position: absolute;
      padding: 0;
      margin: 0;
      top: 0;
      left: 42px;
      color: #fff;
    }

    img {
      width: 100%;
      display: block;
    }
  }
}






// BROWSER AND MOBILE BORDER

.browser {
  width: 98%;
  // background: #0074d9;
  // overflow: hidden;
  // padding-top: 20px;
  border: 0px solid #333;
  border-width: 20px 0 0 0;
  border-radius: 3px 3px 6px 6px;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, .5);
  position: relative;
  min-height: 50px;

  img {
    border-radius: 0 0 6px 6px;
  }
}

.browser::before,
.browser::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background: #f55;
  top: -15px;
  left: 8px;
  border-radius: 50%;
  z-index: 10;
}

.browser::after {
  left: 24px;
  background: #3d3;
}

.mobile {
  width: 32%;
  border-radius: 2px;
  position: absolute;
  right: 0;
  top: 18px;
  border: 2px solid #333;
  border-width: 2px 2px 14px 2px;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, .5);
  min-height: 50px;
}

.mobile::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: #fff;
  bottom: -10px;
  left: calc(50% - 3px);
  border-radius: 50%;
}
