/** appearance **/
  :root {
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  .bmenu {
    background: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  nav.bmenu {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 1.25rem;
    max-width: -moz-fit-content;
    max-width: fit-content;
    box-sizing: border-box;
  }
  nav.bmenu a:link,
  nav.bmenu a:visited {
    color: inherit;
    text-decoration: none;
  }
  nav.bmenu > * {
    vertical-align: top;
  }
  nav.bmenu > a,
  nav.bmenu > hr {
    float: left;
    clear: both;
  }
  .bmenu header {
    display: block;
    font-weight: bold;
    margin: 0;
    height: 2em;
    line-height: 2em;
  }
  nav.bmenu article.panel::before {
    display: block;
    z-index: 2000;
    height: calc(100% - 2*(0.5*1rem));
    content: "";
    width: 0;
    border-left: 1px solid white;
    border-color: inherit;
    position: absolute;
    left: 1.25rem;
    top: calc(0.5*1rem);
    box-sizing: border-box;
  }
  nav.bmenu a {
    position: relative;
    display: block;
    height: 2em;
    line-height: 2em;
    min-width: 160px;
  }
  nav.bmenu > hr {
    border: 0;
    border-top-width: 1px;
    border-top-color: inherit;
    border-top-style: solid;
    width: 160px;
    margin: 1em 0;
  }
  nav.bmenu article.panel {
    display: none;
    position: relative;
    min-height: calc(463px - 2*1.25rem);
    padding-left: 1.25rem;
  }
  nav.bmenu article.panel section.titled-group {
    min-width: 160px;
  }
  nav.bmenu section.titled-group:not(:first-of-type) {
    margin-top: 2em;
  }
  nav.bmenu div.column {
    min-width: 210px;
    margin-left: 1.25rem;
  }

  label.bmenu.toggle {
    display: inline-block;
    padding: 0 0.75rem;
    border: 1px solid black;
  }
  .hidden {
    display: none;
  }

/** behaviour **/
  .bmenu a,
  label.bmenu {
    cursor: pointer;
  }
  article.panel {
    display: none;
  }

  nav.bmenu > a:not(:hover):not(:focus) ~ article.panel:nth-of-type(1),
  nav.bmenu > a.no-panel:hover ~ article.panel:nth-of-type(1) {
    display: flex;
  }
  nav.bmenu > a:focus:not(:nth-of-type(1)):not(.no-panel) ~ article.panel:nth-of-type(1) {
    display: none;
  }
  nav.bmenu > a:hover:not(:nth-of-type(1)):not(.no-panel) ~ article.panel:nth-of-type(1) {
    display: none;
  }

  nav.bmenu > a:nth-of-type(1):focus ~ article.panel:nth-of-type(1),
  nav.bmenu > a:nth-of-type(1):hover ~ article.panel:nth-of-type(1) {
    display: flex;
  }
  nav.bmenu > a:nth-of-type(2):focus ~ article.panel:nth-of-type(2),
  nav.bmenu > a:nth-of-type(2):hover ~ article.panel:nth-of-type(2) {
    display: flex;
  }
  nav.bmenu > a:nth-of-type(3):focus ~ article.panel:nth-of-type(3),
  nav.bmenu > a:nth-of-type(3):hover ~ article.panel:nth-of-type(3) {
    display: flex;
  }
  nav.bmenu > a:nth-of-type(4):focus ~ article.panel:nth-of-type(4),
  nav.bmenu > a:nth-of-type(4):hover ~ article.panel:nth-of-type(4) {
    display: flex;
  }
  nav.bmenu > a:nth-of-type(5):focus ~ article.panel:nth-of-type(5),
  nav.bmenu > a:nth-of-type(5):hover ~ article.panel:nth-of-type(5) {
    display: flex;
  }
  nav.bmenu > a:nth-of-type(6):focus ~ article.panel:nth-of-type(6),
  nav.bmenu > a:nth-of-type(6):hover ~ article.panel:nth-of-type(6) {
    display: flex;
  }
  nav.bmenu > a:nth-of-type(7):focus ~ article.panel:nth-of-type(7),
  nav.bmenu > a:nth-of-type(7):hover ~ article.panel:nth-of-type(7) {
    display: flex;
  }
  nav.bmenu > a:nth-of-type(8):focus ~ article.panel:nth-of-type(8),
  nav.bmenu > a:nth-of-type(8):hover ~ article.panel:nth-of-type(8) {
    display: flex;
  }
  nav.bmenu > a:nth-of-type(9):focus ~ article.panel:nth-of-type(9),
  nav.bmenu > a:nth-of-type(9):hover ~ article.panel:nth-of-type(9) {
    display: flex;
  }

  nav.bmenu > a:hover:not(.no-panel) ~ a:focus:nth-of-type(1) ~ article.panel:nth-of-type(1),
  nav.bmenu > a:focus:nth-of-type(1) ~ a:hover:not(.no-panel) ~ article.panel:nth-of-type(1) {
    display: none;
  }
  nav.bmenu > a:hover:not(.no-panel) ~ a:focus:nth-of-type(2) ~ article.panel:nth-of-type(2),
  nav.bmenu > a:focus:nth-of-type(2) ~ a:hover:not(.no-panel) ~ article.panel:nth-of-type(2) {
    display: none;
  }
  nav.bmenu > a:hover:not(.no-panel) ~ a:focus:nth-of-type(3) ~ article.panel:nth-of-type(3),
  nav.bmenu > a:focus:nth-of-type(3) ~ a:hover:not(.no-panel) ~ article.panel:nth-of-type(3) {
    display: none;
  }
  nav.bmenu > a:hover:not(.no-panel) ~ a:focus:nth-of-type(4) ~ article.panel:nth-of-type(4),
  nav.bmenu > a:focus:nth-of-type(4) ~ a:hover:not(.no-panel) ~ article.panel:nth-of-type(4) {
    display: none;
  }
  nav.bmenu > a:hover:not(.no-panel) ~ a:focus:nth-of-type(5) ~ article.panel:nth-of-type(5),
  nav.bmenu > a:focus:nth-of-type(5) ~ a:hover:not(.no-panel) ~ article.panel:nth-of-type(5) {
    display: none;
  }
  nav.bmenu > a:hover:not(.no-panel) ~ a:focus:nth-of-type(6) ~ article.panel:nth-of-type(6),
  nav.bmenu > a:focus:nth-of-type(6) ~ a:hover:not(.no-panel) ~ article.panel:nth-of-type(6) {
    display: none;
  }
  nav.bmenu > a:hover:not(.no-panel) ~ a:focus:nth-of-type(7) ~ article.panel:nth-of-type(7),
  nav.bmenu > a:focus:nth-of-type(7) ~ a:hover:not(.no-panel) ~ article.panel:nth-of-type(7) {
    display: none;
  }
  nav.bmenu > a:hover:not(.no-panel) ~ a:focus:nth-of-type(8) ~ article.panel:nth-of-type(8),
  nav.bmenu > a:focus:nth-of-type(8) ~ a:hover:not(.no-panel) ~ article.panel:nth-of-type(8) {
    display: none;
  }
  nav.bmenu > a:hover:not(.no-panel) ~ a:focus:nth-of-type(9) ~ article.panel:nth-of-type(9),
  nav.bmenu > a:focus:nth-of-type(9) ~ a:hover:not(.no-panel) ~ article.panel:nth-of-type(9) {
    display: none;
  }

  nav.bmenu > a:nth-of-type(1):hover ~ a:focus ~ article.panel:nth-of-type(1) {
    display: flex;
  }

  #bmenu_toggle:not(:checked) ~ div.hide-at-start-wrapper > nav.bmenu > a::after {
    border-color: black;
  }

  #bmenu_toggle:checked ~ label.bmenu.toggle:hover .heavy {
    text-shadow: 0 1px 0 white;
  }
  #bmenu_toggle:not(:checked) ~ label.bmenu.toggle:hover .heavy {
    text-shadow: 0 1px 0 silver;
  }
  #bmenu_toggle:not(:checked) ~ label.bmenu.toggle:hover {
    color: silver;
  }
  #bmenu_toggle:not(:checked) ~ label.bmenu.toggle {
    background: white;
    color: black;
  }

  nav.bmenu > a:hover,
  nav.bmenu > a:focus {
  }
  nav.bmenu > a:not(.no-panel):hover::before,
  nav.bmenu > a:not(.no-panel):focus::before {
    content: "";
    position: absolute;
    z-index: 1000;
    display: block;
    left: -1.25rem;
    top: 0;
    height: 100%;
    width: 0.3em;
    background-color: white;
  }
  nav.bmenu > a:not(.no-panel)::after {
    content: "";
    position: absolute;
    z-index: 1000;
    display: block;
    height: 0.5em;
    width: 0.5em;
    border: 1px solid grey;
    border-bottom: 0;
    border-left: 0;
    /* centered vertically and pointing right */
    /* just maths, bitches, MATHS */
    right: calc(0.5*0.5em);
    top: calc(50% + 0.5*0.5*0.5em);
    transform: rotate(45deg) translate(-50%, -50%);
  }
  nav.bmenu > a:hover::after,
  nav.bmenu > a:focus::after {
    border-color: white;
  }
  nav.bmenu > article.panel a:hover,
  nav.bmenu > a.no-panel:hover {
    color: grey;
  }
  label {
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  label.bmenu.toggle {
    font-size: 15px;
  }
  .heavy {
    display: inline-block;
    font-weight: 900;
    text-shadow: 0 1px 0 black;
    transform: scaleX(1.2);
    margin-right: 1px;
  }

/** animation **/
  input#bmenu_toggle:checked ~ div.hide-at-start-wrapper > nav.bmenu.panel {
    animation: roll-open 0.4s ease 0s normal forwards;
    transition: padding 0.1s ease, color 0.2s ease 0.1s;
    display: block;
    color: white;
  }
  input#bmenu_toggle:not(:checked) ~ div.hide-at-start-wrapper > nav.bmenu.panel {
    animation: roll-closed 0.4s ease 0s normal forwards;
    transition: padding 0.1s ease 0.2s, color 0.2s ease;
    padding: 0;
    color: black;
  }
  @keyframes roll-open {
    0% {
      max-height: 0;
    }
    99% {
      max-height: 463px;
    }
    100% {
      max-height: unset;
    }
  }
  @keyframes roll-closed {
    0% {
      max-height: unset;
    }
    1% {
      max-height: 463px;
    }
    100% {
      max-height: 0;
    }
  }
  @keyframes hide-at-start {
    0% {
      visibility: hidden;
    }
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  nav.bmenu.animated > a::after {
    transition: border-color 0.2s ease;
  }
  div.hide-at-start-wrapper {
    animation: hide-at-start 0.5s ease 0s normal forwards;
  }

/** specific cross browser **/
  @supports (-ms-ime-align: auto) {
    nav.bmenu.panel {
      display: table;
    }
    input#bmenu_toggle:checked ~ div.hide-at-start-wrapper > nav.bmenu.panel {
      animation: 0;
      transition: 0;
      height: auto;
      display: table;
    }
    input#bmenu_toggle:not(:checked) ~ div.hide-at-start-wrapper > nav.bmenu.panel {
      animation: 0;
      transition: 0;
      height: 0;
      display: none;
    }
    nav.bmenu.animated > a::after {
      transition: 0;
    }
    div.hide-at-start-wrapper {
      animation: 0;
    }
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    nav.bmenu.panel {
      display: table;
    }
    input#bmenu_toggle:checked ~ div.hide-at-start-wrapper > nav.bmenu.panel {
      animation: 0;
      transition: 0;
      height: auto;
      display: table;
    }
    input#bmenu_toggle:not(:checked) ~ div.hide-at-start-wrapper > nav.bmenu.panel {
      animation: 0;
      transition: 0;
      height: 0;
      display: none;
    }
    nav.bmenu.animated > a::after {
      transition: 0;
    }
    div.hide-at-start-wrapper {
      animation: 0;
    }
  }
  @media screen\0 {
    nav.bmenu.panel {
      display: table;
    }
    input#bmenu_toggle:checked ~ div.hide-at-start-wrapper > nav.bmenu.panel {
      animation: 0;
      transition: 0;
      height: auto;
      display: table;
    }
    input#bmenu_toggle:not(:checked) ~ div.hide-at-start-wrapper > nav.bmenu.panel {
      animation: 0;
      transition: 0;
      height: 0;
      display: none;
    }
    nav.bmenu.animated > a::after {
      transition: 0;
    }
    div.hide-at-start-wrapper {
      animation: 0;
    }
  }
