body {
  width: calc(100% - 60px);
  max-width: 600px;
  margin: 60px auto;
}

.encrypt .decrypt,
.decrypt .encrypt {
  display: none;
}

h1 {
  padding: 0;
  line-height: 1;
}

textarea.error,
input.error {
  border-color: red;
}

button,
.button {
  margin: 0;
}

[readonly] {
  background: #eee;
}

.new {
  float: right;
}

body.encrypt .new {
  display: none;
}
