<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="/style.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism-okaidia.css" rel="stylesheet" />
  <style media="screen">
    h2, h3 {
      margin: 1.2em 0 -.3em;
      padding: 0;
    }

    comment-box h2 {
      margin: 0;
    }

    pre,
    pre[class*="language-"] {
      line-height: 1;
      background: #272822;
      margin: .8em -10px;
      border-radius: 0;
      padding: 10px;
    }

    @media (min-width: 500px) {
      pre,
      pre[class*="language-"] {
        margin: .8em 0;
        border-radius: .3em;
        padding: 1em;
      }
    }

    h1 + p, h2 + p, p {
      margin: .8em 0;
    }

    .meta {
      margin-top: 10px;
      color: #888;
    }

    .meta a {
      margin-right: 10px;
    }

    .meta .logo {
      width: 20px;
      vertical-align: text-top;
    }

    pre[class*="language-"] {
      border: none;
    }

    .banner {
      display: none;
    }
  </style>
</head>
<body>
  <main>
    <h1>{{title}}</h1>
    <div class="meta">
      <a href="https://francisco.io/"><img class="logo" src="/img/logo.png"> Francisco Presencia</a>
      <a href="https:///francisco.io/blog/better-promises/">🕑 <time datetime="{{date}}">{loading...}</time></a>
    </div>

    {{{body}}}

    <a href="https://www.paypal.me/franciscopresencia/10">💙 💚 💛 💜</a>

    <comment-box title=""></comment-box>

    <script src="https://cdn.jsdelivr.net/npm/timeago.js/dist/timeago.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
    <script src="https://comments.network/comments.js"></script>
    <script type="text/javascript">
      timeago().render(document.querySelectorAll('time'));
    </script>
  </main>
</body>
</html>
